@charset "UTF-8";
h1, h2, h3, h4, h5 {
  color: #01003C;
  font-family: "Yeseva One", cursive;
  font-weight: 300;
  line-height: 75%;
  text-transform: uppercase;
}

p, a {
  color: #01003C;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 15vw;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 5.5vw;
}

h5 {
  text-transform: none;
  text-align: right;
  font-size: 7vw;
}

.h2-mobile {
  font-size: 32px;
}

.p-small {
  font-size: 14px;
}

.p-medium {
  font-size: 24px;
}

.p-large {
  font-size: 36px;
}

.centered-text {
  text-align: center;
}

.yesevaSmall, .yesevaLarge {
  color: #01003C;
  font-family: "Yeseva One", cursive;
  font-weight: 300;
  line-height: 75%;
  text-transform: uppercase;
  text-transform: none;
}

.yesevaSmall {
  font-size: 24px;
  margin-bottom: 20px;
}

.yesevaLarge {
  font-size: 36px;
  margin-bottom: 20px;
}

.intro__text--paragraph {
  font-size: 5vw;
}

@media all and (min-width: 1200px) {
  .intro__text--paragraph {
    font-size: 60px;
  }

  .p-small {
    font-size: 14px;
  }

  .p-medium {
    font-size: 24px;
  }

  .p-large {
    font-size: 36px;
  }
}
@media all and (min-width: 600px) {
  h3 {
    font-size: 2vw;
  }

  h2 {
    font-size: 4vw;
  }

  h1 {
    font-size: 15vw;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #E6F6B7;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: initial;
}

p {
  display: block;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

header {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vw;
  max-height: 150vw;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.container {
  display: block;
}

.intro__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  height: 100%;
  margin-left: 20px;
  margin-block: 2vh;
  top: 30%;
  margin-bottom: 120px;
}
.intro__text > h1, .intro__text p {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.intro__text > h1, .intro__text > p {
  position: relative;
}
.intro__text > p {
  top: 3vw;
  left: 6vw;
  width: 55vw;
}

.hero {
  position: absolute;
  margin-left: 60vw;
  top: -16vh;
  width: 30vw;
  z-index: -2;
  overflow: hidden;
}

.fl-header {
  position: relative;
  width: 18vw;
  top: -89vh;
  left: 49vw;
  z-index: -1;
}

@media all and (max-width: 992px) {
  .fl-header {
    width: 15vw;
    top: -39vh;
  }
}
@media all and (max-width: 768px) {
  .fl-header {
    width: 15vw;
    top: -39vh;
  }

  header {
    margin-bottom: 80px;
  }
}
@media all and (max-width: 600px) {
  header {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    min-height: none;
    max-height: none;
    margin-bottom: -300px;
  }

  .intro__text {
    position: static !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 20vh 4vw 0 4vw;
    margin-bottom: 0vh;
    margin-left: 0;
  }
  .intro__text > h1, .intro__text p {
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
  }
  .intro__text > h1, .intro__text > p {
    position: static;
    margin: 4vh 0;
  }
  .intro__text > p {
    top: 0;
    left: 0;
    width: inherit;
  }

  .fl-header {
    width: 28vw;
    top: -117vh;
    left: 30vw;
  }

  .hero {
    width: 100%;
    z-index: -2;
    margin: 0;
    position: static;
  }
}
.CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #01003C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
}
.CTA__1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.CTA__1--image, .CTA__1--text {
  padding: 20px;
}
.CTA__1--image {
  width: 40%;
  margin: 6vw;
}
.CTA__1--text {
  width: 60%;
  margin: 0 11vw 0 0;
}
.CTA__1--text * {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.CTA__2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../content/images/CTA-bkg.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  height: 80vh;
}
.CTA__2--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
}
.CTA__2--fl {
  position: relative;
  top: -177px;
  width: 30vw;
  left: 10px;
}

.color__light {
  color: #E6F6B7;
}

.color__white {
  color: #FFFFFF;
}

.button {
  position: relative;
  top: 10vh;
  border: none;
  background-color: #E6F6B7;
  color: #01003C;
  padding: 16.5px 36.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif, 300;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #FFFFFF;
}

@media all and (max-width: 600px) {
  .CTA {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #E6F6B7;
  }
  .CTA > h2, .CTA p, .CTA a {
    margin: 4vh 4vw;
  }
  .CTA > h2 {
    font-size: 15vw;
  }
  .CTA__1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .CTA__1--image, .CTA__1--text {
    padding: 20px;
  }
  .CTA__1--image {
    width: 100%;
    margin: 0;
    padding: 6vw 6vw 34vw 6vw;
    background-color: #01003C;
  }
  .CTA__1--text {
    width: 100%;
    margin: 0;
  }
  .CTA__1--text * {
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .CTA__1 > .button {
    position: relative;
    top: -71vw;
  }
  .CTA__2 {
    height: 100vh;
  }
  .CTA__2--title > .centered-text {
    font-size: 15vw;
  }
  .CTA__2 > .button {
    position: relative;
    top: 21vw;
  }
}
.nav {
  position: fixed;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  font-family: "Yeseva One", cursive;
  background-color: #E6F6B7;
  z-index: 10;
  top: 0;
  height: auto;
}
.nav__left {
  z-index: 5;
  width: 80px;
}
.nav__left, .nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  text-decoration: none;
}
.nav--transparent {
  background-color: transparent;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__thanks {
  margin: 60px 0 240px 0;
}
.footer__logo {
  margin: 240px 0 60px 0;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 60px;
  margin-right: 4vw;
  margin-left: 4vw;
}
.footer__bottom--line {
  width: 2px;
  height: 60px;
  background-color: #01003C;
}
.footer__bottom--text > *, .footer__bottom--text > p > a {
  color: #01003C;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
  padding: 1vw;
}
.footerLink {
  padding: 1vw;
  cursor: pointer;
}
.footerLink:hover {
  font-weight: 400;
}

@media all and (max-width: 768px) {
  .footer__bottom {
    margin-bottom: 10px;
    width: 100vw;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bottom--text {
    width: 33%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__bottom--text > * {
    color: #01003C;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 12px;
    text-transform: none;
    text-decoration: none;
    padding: 1vw;
  }
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #01003C;
  /* Black fallback color */
  background-color: #01003C;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 18%;
  /* 18% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  text-decoration: none;
  font-size: 9vw;
  line-height: 75%;
  font-family: "Yeseva One", cursive;
  color: #E6F6B7;
  display: block;
  /* Display block instead of inline */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #F2F2F2;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

nav > span {
  color: #01003C;
}

nav > .spanLight {
  color: #E6F6B7;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.stl {
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.stl-paragraph {
  margin-left: 4vw;
}
.stl__body {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.stl__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80vw;
}
.stl__filters--tags {
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  border: 2px solid #01003C;
  background-color: #E6F6B7;
  z-index: 3;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
}
.stl-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80vw;
}
.stl-list__block {
  padding: 10px;
  margin-top: -70px;
}
.stl-list__block--home {
  margin: 7px;
  padding: 0;
}
.stl-list__block--avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.stl-list__block--img {
  width: 100%;
}
.stl-list__block--img--home {
  width: 235px;
  height: 235px;
  overflow: hidden;
}
.stl-list__block--name, .stl-list__block--tags {
  padding: 4px;
  font-size: 14px;
}
.stl-list__block--name {
  margin-top: 4px;
  font-family: "Yeseva One", cursive;
}
.stl-list__block--tags {
  font-family: "Roboto Condensed", sans-serif;
}
@media all and (min-width: 600px) {
  .stl-list__block {
    width: 50%;
  }
}
@media all and (min-width: 768px) {
  .stl-list__block {
    width: 33%;
  }
}
@media all and (min-width: 992px) {
  .stl-list__block {
    width: 25%;
  }
}
@media all and (min-width: 1200px) {
  .stl-list__block {
    width: 20%;
  }
}
.stl-list--1, .stl-list--2, .stl-list--3 {
  position: relative;
}
.stl-list--1 {
  right: 200px;
}
.stl-list--2 {
  right: 580px;
}
.stl-list--home {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.stl-promotext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
}
.stl-promotext--copy {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-animation: slide-left 20s linear infinite;
          animation: slide-left 20s linear infinite;
}
@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}

.intro--text {
  margin: 150px 10px 10px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro--text > * {
  padding-left: 6px;
  width: 80vw;
  margin: 15px 0px;
}

.active {
  background-color: #01003C;
  color: #E6F6B7;
  display: block;
}

@media all and (max-width: 992px) {
  .intro--text > * {
    padding-left: 6px;
    margin-left: 10px;
  }

  .intro--text h2 {
    font-size: 40px;
  }

  .stl {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .stl__filters {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100vw;
    margin-left: 20vw;
  }
}
@media all and (max-width: 600px) {
  .stl {
    margin-bottom: 120px;
  }
  .stl-paragraph {
    font-size: 15vw;
    margin: 4vh 4vw;
  }
  .stl-list__block {
    margin-top: -100px;
    width: 50%;
  }
  .stl-list__block--img--home {
    width: 200px;
    height: 200px;
  }
  .stl-list--1 {
    right: 200px;
  }
  .stl-list--2 {
    right: 700px;
  }
  .stl-list--3 {
    right: 400px;
  }

  .intro--text, .stl-list, .stl__filters {
    width: 100vw;
    margin: 0;
  }

  .intro--text {
    margin-top: 240px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  -webkit-transition: background-position 1s steps(28);
  transition: background-position 1s steps(28);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  position: relative;
  top: 80px;
  right: -60%;
}
.heart.is-active {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-position: -2800px 0;
}

.journal__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.journal__cover--image {
  width: 100%;
  margin: 60px 0 90px 0;
}
.journal__cover--copy {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 120px;
}
.journal__blog {
  background-color: #01003C;
}

.journalHome {
  background-color: #01003C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.journalHome__main, .journalHome__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.journalHome__main--title, .journalHome__main--footer, .journalHome__main a, .journalHome__secondary--title, .journalHome__secondary--footer, .journalHome__secondary a {
  color: #E6F6B7;
}
.journalHome__main--text, .journalHome__secondary--text {
  color: #FFFFFF;
}
.journalHome__main--footer, .journalHome__secondary--footer {
  font-size: 14px;
  font-style: italic;
}

.journalHome__main {
  margin: 120px 0 0 0;
}
.journalHome__main--img {
  background-image: url("../content/images/journal/blog main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.journalHome__main--copy, .journalHome__main--img {
  margin: 2vw 2vw;
  width: 35vw;
  height: 70vh;
}
.journalHome__main--footer {
  margin: 2vw 0;
}
.journalHome__main--copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.journalHome__main--copy:first-child {
  height: inherit;
}
.journalHome__main--title, .journalHome__main--text, .journalHome__main a {
  margin: 20px 0 20px 0;
}
.journalHome__main--footer {
  position: relative;
  bottom: 0px;
}

.journalHome__secondary {
  margin: 120px 0px 90px 0px;
}
.journalHome__secondary > li {
  width: 22vw;
  margin: 0px 2vw 6vh 2vw;
}
.journalHome__secondary--title, .journalHome__secondary--footer, .journalHome__secondary--text, .journalHome__secondary a {
  width: inherit;
  margin: 20px 0 20px 0;
}
.journalHome__secondary--img {
  width: inherit;
  height: auto;
}
.journalHome__secondary--title {
  margin-top: 40px;
}

@media all and (max-width: 768px) {
  .journalHome__secondary > li {
    width: 35vw;
    margin: 0px 2vw 6vh 2vw;
  }
}
@media all and (max-width: 600px) {
  .journalHome {
    width: 100%;
    padding: 0 4vw 0 4vw;
  }
  .journalHome__main, .journalHome__secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journalHome__main--copy, .journalHome__main--img {
    margin: 0;
    width: 100%;
  }
  .journalHome__main--copy--img, .journalHome__main--img--img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .journalHome__secondary {
    margin: 60px 0px 90px 0px;
  }
  .journalHome__secondary > li {
    width: 100%;
    margin: 0px 2vw 60px 0;
  }

  .journal__blog {
    padding: 0 4vw 0 4vw;
  }
}
.about {
  background-color: #01003C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 150vh;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 120px;
  background-image: url("../content/images/about/cover-redux.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__cover--copy {
  margin: 2vw;
  position: absolute;
  top: 50vh;
}
.about__cover--copy > * {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  color: #FFFFFF;
}
.about__main, .about__secondary, .about__third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin: 0 0 120px 0;
}
.about__main--title, .about__main--footer, .about__main a, .about__secondary--title, .about__secondary--footer, .about__secondary a, .about__third--title, .about__third--footer, .about__third a {
  color: #E6F6B7;
}
.about__main--text, .about__secondary--text, .about__third--text {
  color: #FFFFFF;
}
.about__main--footer, .about__secondary--footer, .about__third--footer {
  margin-top: 50px;
  font-size: 14px;
  font-style: italic;
}
.about__main {
  margin: 90px 0 0 0;
}
.about__main--h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__main--h2 > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  width: 78vw;
  padding: 0 2vw 0 2vw;
}
.about__main--copy, .about__main--img {
  width: 35vw;
  margin: 0 2vw 0 2vw;
}
.about__main--img {
  height: auto;
  min-height: 60vh;
  background-image: url("../content/images/stl/user 3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__main--copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__main--copy > * {
  margin: 20px 0 20px 0;
}
.about__main--title, .about__main--text, .about__main a {
  margin: 20px 0 20px 0;
}
.about__main--footer {
  position: relative;
  bottom: 0px;
}
.about__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0px 0px 0px;
}
.about__secondary > div {
  width: 22vw;
  margin: 0 2vw 0 2vw;
}
.about__third {
  position: relative;
  top: -11.5vw;
  background-color: #01003C;
  z-index: -3;
}
.about__third--content {
  margin: 720px 0 240px 0;
  width: 78vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.about__third--content--h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  height: auto;
  width: 33%;
  text-align: right;
  color: #E6F6B7;
}
.about__third--content--p {
  width: 67%;
  color: #FFFFFF;
}
.about__third--content--p, .about__third--content--h2 {
  margin: 0 2vw 0 2vw;
}
.about__third--fl {
  position: relative;
  width: 32vw;
  top: -675px;
  -webkit-box-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  -webkit-box-pack: center;
          justify-content: center;
}
.about__images--bkg, .about__images--front {
  padding: 0 2vw 0 2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__images--bkg {
  margin: 120px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 49vw;
  background-image: url("../content/images/about/sea.jpg");
  width: 74vw;
  height: 46vw;
}
.about__images--front {
  position: relative;
  background-image: url("../content/images/about/mountain.jpg");
  width: 50vw;
  height: 23vw;
}

@media all and (max-width: 992px) {
  .about__secondary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__secondary > div {
    width: 74vw;
    margin: 2vw 2vw;
  }
}
@media all and (max-width: 768px) {
  .about__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__main--copy, .about__main--img {
    width: 74vw;
    margin: 2vw 2vw;
    padding: 0;
  }
}
@media all and (max-width: 600px) {
  .about {
    width: 100vw;
  }
  .about__cover {
    display: block;
    height: 100vh;
  }
  .about--copy {
    margin: 2vw;
    position: absolute;
    top: 50vh;
  }
  .about__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2vw;
    margin-bottom: 60px;
  }
  .about__main--h2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 30px 0;
  }
  .about__main--copy, .about__main--img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about__secondary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2vw;
  }
  .about__secondary > div {
    width: 100%;
    margin: 30px 0vw;
    padding: 0;
  }
  .about__third {
    position: relative;
    top: -11.5vw;
    background-color: #01003C;
    z-index: -3;
  }
  .about__third--content {
    margin: 120px 0 240px 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__third--content--h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
    width: auto;
    margin: 32vh 2vw 3vh 2vw;
    text-align: left;
  }
  .about__third--content--p {
    width: 80%;
  }
  .about__third--fl {
    top: -120vh;
  }
  .about__images--bkg, .about__images--front {
    padding: 0 2vw 0 2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about__images--bkg {
    margin: 120px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("../content/images/about/sea.jpg");
    width: 100vw;
    height: 100vh;
  }
  .about__images--front {
    position: relative;
    background-image: url("../content/images/about/mountain.jpg");
    width: 60vw;
    height: 60vh;
  }
}
.faqs__h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  display: block;
  margin: 40vh 0 60px 20px;
  z-index: 2;
  font-size: 13vw;
}
.faqs__q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.faqs__q--1, .faqs__q--2, .faqs__q--3, .faqs__q--4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 60px 0 60px 0;
}
.faqs__q--1--h5, .faqs__q--1--p, .faqs__q--2--h5, .faqs__q--2--p, .faqs__q--3--h5, .faqs__q--3--p, .faqs__q--4--h5, .faqs__q--4--p {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin: 0 2vw 0 2vw;
}
.faqs__q--1--h5, .faqs__q--2--h5, .faqs__q--3--h5, .faqs__q--4--h5 {
  width: 26vw;
}
.faqs__q--1--p, .faqs__q--2--p, .faqs__q--3--p, .faqs__q--4--p {
  width: 47vw;
}

body {
  background: #E6F6B7;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
}

.tab {
  width: 100%;
  color: #01003C;
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #F2F2F2;
  cursor: pointer;
}

input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 50vh;
  padding: 1em;
  overflow-y: scroll;
  overflow-x: auto;
  white-space: wrap;
}

label > h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contact__text, .contact__form {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5vw 0 5vw;
}
.contact__text > h2, .contact__form > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-size: 6vw;
  text-transform: none;
}
.contact__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}
.contact__form {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__form--line {
  display: block;
  position: relative;
  margin-bottom: 42px;
}
.contact__form--line > label {
  color: #01003C;
  font-family: "Yeseva One", cursive;
  font-weight: 300;
  line-height: 75%;
  text-transform: uppercase;
  font-size: 1vw;
  display: block;
}
.contact__form--line > input, .contact__form--line > textarea {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px 0;
  border-radius: 0;
  line-height: 1.75;
  background-color: #E6F6B7;
  border-style: none;
  border: 2px rgba(1, 0, 61, 0.5);
  border-bottom-style: solid;
}
.contact__form--line > input:focus, .contact__form--line > input:hover, .contact__form--line > input:active, .contact__form--line > textarea:focus, .contact__form--line > textarea:hover, .contact__form--line > textarea:active {
  border-style: none;
  border: 2px #01003C;
  border-bottom-style: solid;
}

.cf--left, .cf--right {
  width: 100%;
}
.cf--right {
  margin-left: 3vw;
}

:focus-visible {
  border-style: none;
  border: 2px #01003C;
  border-bottom-style: solid;
}

.c-Contact-form-right-textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  resize: none;
  height: inherit;
}

:focus {
  outline: none;
}

@media all and (max-width: 600px) {
  .mobileHidden {
    display: none;
  }
}
@media all and (min-width: 600px) {
  .desktopHidden {
    display: none;
  }
}