h1, h2, h3 {
  color: #01003C;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  line-height: 75%;
  text-transform: uppercase;
}

p, a {
  color: #01003C;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 15vw;
}

h2, .intro__text--paragraph {
  font-size: 4vw;
}

.p-small {
  font-size: 20px;
}

.centered-text {
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #E6F6B7;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

p {
  display: block;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

header {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.intro__text {
  display: block;
  width: 80vw;
  margin-left: 20px;
  margin-top: 20%;
  z-index: 2;
}
.intro__text > h1, .intro__text p {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.intro__text > p {
  position: relative;
  left: 60px;
  top: 60px;
  width: 55vw;
}

.hero {
  background-image: url(./../../content/images/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: 60vw;
  top: 150px;
  display: block;
  width: 47vw;
  height: 800;
  z-index: -1;
  overflow: hidden;
}
.hero > * {
  overflow: hidden;
  width: auto;
}

.fl-header {
  position: relative;
  width: 22.5vw;
  top: -244px;
  left: 277px;
  z-index: -1;
}

.CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #01003C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}
.CTA__1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.CTA__1--image, .CTA__1--text {
  margin: 20px;
  width: 50%;
  padding: 20px;
}
.CTA__1--text * {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.CTA__2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../content/images/CTA-bkg.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  height: 80vh;
}
.CTA__2--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
}
.CTA__2--fl {
  position: relative;
  top: -177px;
  width: 30vw;
  left: 10px;
}

.color__light {
  color: #E6F6B7;
}

.color__white {
  color: #FFFFFF;
}

.button {
  border: none;
  background-color: #E6F6B7;
  color: #01003C;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #FFFFFF;
}

.nav {
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: "Yeseva One", cursive;
  background-color: #E6F6B7;
  z-index: 10;
  top: 0;
  height: auto;
}
.nav__left {
  z-index: 5;
  width: 80px;
}
.nav__left, .nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  text-decoration: none;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 50px;
  bottom: 100px;
}

.option {
  margin: -1px;
  border: 2px solid #01003C;
  background-color: #F2F2F2;
  margin-bottom: 3px;
  padding: 10px;
  height: 55px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.option > * {
  font-family: "Roboto Condensed", sans-serif;
  margin: 5px;
}

.option:hover {
  border: 2px solid #01003C;
  background: #FFFFFF;
  width: 150px;
}

.option.--is-active {
  border: 2px solid #01003C;
  background-color: #E6F6B7;
  width: 150px;
  cursor: default;
}

.option.--is-active:hover {
  border: 2px solid #01003C;
  background-color: #FFFFFF;
}

.option svg {
  pointer-events: none;
}

.info {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info p {
  margin-top: 0;
}

.tray {
  width: 100%;
  height: 50px;
  position: relative;
  overflow-x: hidden;
}

.tray__slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  /*   transform: translateX(-50%);
    animation: wheelin 1s 2s ease-in-out forwards; */
}

.tray__swatch {
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  height: 50px;
  min-width: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
}

.tray__swatch:nth-child(5n+5) {
  margin-right: 20px;
}

.drag-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  width: 10em;
  height: 10em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9em;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5em;
  background: white;
  position: absolute;
}

.drag-notice.start {
  -webkit-animation: popout 0.25s 3s forwards;
          animation: popout 0.25s 3s forwards;
}

@-webkit-keyframes popout {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes popout {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes wheelin {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes wheelin {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (max-width: 960px) {
  .info {
    padding: 0 1em 1em 0;
  }

  .info__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .info__message p {
    margin: 0;
    font-size: 0.7em;
  }
}
@media (max-width: 720px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1em 1em;
  }
  .info__message {
    margin-bottom: 1em;
  }
}
@media (max-width: 680px) {
  .info {
    padding: 1em 2em;
  }
  .info__message {
    display: none;
  }

  .options {
    bottom: 50px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0px;
  }

  .option {
    margin-bottom: 0px;
    padding: 5px;
    height: 45px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .option:hover {
    width: 50%;
  }
  .option.--is-active {
    width: 50%;
  }
  .option svg {
    height: 100%;
    width: auto;
    pointer-events: none;
  }
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #01003C;
  /* Black fallback color */
  background-color: #01003C;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 18%;
  /* 18% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  text-decoration: none;
  font-size: 9vw;
  line-height: 75%;
  font-family: "Yeseva One", cursive;
  color: #E6F6B7;
  display: block;
  /* Display block instead of inline */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #F2F2F2;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

nav > span {
  color: #01003C;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}