.blogHome{
    background-color: $dark;
    display: flex;
    justify-content: center;
}

.blogHome__secondary{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-inline-start: 0px;
    margin: 120px 0px 90px 0px;

        &>li{
            width: 25vw;
            margin: 0px 2vw 0px 2vw;

        }
    
        &--title, &--footer, &--text, a{
            width: inherit;
            margin: 20px 0 20px 0;
        }   

        &--title, &--footer, a{
            color: $light;
        }
        &--text{
            color: $white;
        }
        &--img{
            width: inherit;
            height: auto;
        }

        &--title{
            font-size: 40px;
        }

        &--footer{
            padding-bottom: 20px;
            font-size: 14px;
            font-style: italic;
        }
}