.stl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__filters {
        display: flex;
        justify-content: flex-start;
        width: 1020px;
        z-index: 10;
    
        &--tags{
            margin: 10px;
            font-family: $tag-font;
            font-size: 14px;
            border: 2px solid $dark;
            background-color: $light;
            padding: {
                top:10px;
                bottom: 10px;
                left: 20px;
                right: 20px;
            }
        }
    }

    &__list{
        list-style: none;
        display: flex;
        width: 1020px;
        flex-wrap: wrap;
        justify-content:flex-start;
        padding-inline-start: 0px;
    }

    &__block{
        margin: 10px;
        margin-top: -70px;
    }

    &__img{
        width: 235px;
        height: 235px;
        object-fit: cover;
        padding-bottom: 10px;
    }

    &__name, &__tags{
        padding: 4px;
        font-size: 14px;
    }

    &__name{
        font-family: $main-font;
    }

    &__tags{
        font-family: $tag-font;

    }
}

.intro--text{
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    &>*{
        width: 1020px;
        margin-left: 10px;
    }
}

.active{
    background-color: $dark;
    color: $light;
    display: block;
}



// HEART BUTTON

.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;

    //Placement
    position: relative;
    top: 130px;
    right: -200px;
    transform: translate(-50%, -50%);
    
    &.is-active {
        transition-duration: 1s;
        background-position: -2800px 0;
    }
}
