.about{

    background-color: $dark;
    display: flex;
    justify-content: center;



    &__cover{
        display: block;
        flex:1;
        height: 100vw;
        flex-basis: auto;
        flex-wrap: wrap;
        margin-bottom: 120px;

        &--image{
            background-image: url("/content/images/about/cover-redux.jpg");
            background-color: #cccccc;
            height: 100vw;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &--copy{
            margin: 0 0 0 2vw;
            position: absolute;
            top: 50vh;
            &>*{
                @include no-margin;
                color: $white;
            }
        }
    }


    &__main, &__secondary, &__third{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-inline-start: 0px;
        margin: 0 0 120px 0;

        &--title, &--footer, a{
            color: $light;
        }
        &--text{
            color: $white;
        }
        &--footer{
            margin-top: 50px;
            font-size: 14px;
            font-style: italic;
        }
    }

    // MAIN SECTION

    &__main{
        margin: 90px 0 0 0;

        &--h3{
            display: flex;
            align-items: center;
            justify-content: center;
            
            &>h3{
                @include no-margin;
                width: 78vw;
                padding: 0 2vw 0 2vw;
            }
        }

        &--copy, &--img{
            width: 35vw;
            margin: 0 2vw 0 2vw;
        }   

        &--img{
            height: auto;
            min-height: 60vh;
            background-image: url("/content/images/stl/user 3.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &--copy{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &>*{
                margin: 20px 0 20px 0;
            }

        }

        &--title, &--text, a{
                margin: 20px 0 20px 0;
        }
        &--footer{
            position: relative;
            bottom: 0px;
        }
    }

    // SECOND SECTION

    &__secondary {
        display: flex;
        margin: 60px 0px 0px 0px;

            &>div{
                width: 22vw;
                margin: 0 2vw 0 2vw;

            }
        }

    // THIRD SECTION
    
    &__third {
        position: relative;
        top: -11.5vw;
        background-color: $dark;
        z-index: -3;


        &--content{
            margin: 720px 0 240px 0;
            width: 78vw;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            display: flex;
            flex-direction: row;  

            &--h3{
                @include no-margin;
                height: auto;
                width: 33%;
                text-align: right;
                color: $light;
            }

            &--p{
                width: 67%;
                color: $white;
            }

            &--p, &--h3{
                margin: 0 2vw 0 2vw;
            } 
        }

        &--fl{
            position: relative;
            width: 32vw;
            top: -675px;
            -webkit-box-pack: end;
            display: flex;
            -ms-flex-pack: end;
            justify-content: center;
        }
    }

    &__images{

        &--bkg, &--front{
            padding: 0 2vw 0 2vw;
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
        }

        &--bkg{
            margin: 120px 0 0 0;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 49vw;
            background-image: url("/content/images/about/sea.jpg");
            width: 74vw;
            height: 46vw;
            

        }
        &--front{
            position: relative;
            background-image: url("/content/images/about/mountain.jpg");
            width: 50vw;
            height: 23vw;
        }

    }
}

