.about{

    background-color: $dark;
    display: flex;
    justify-content: center;
    flex-direction: column;



    &__cover{
        display: block;
        flex:1;
        min-height: 100vw;
        max-height: 150vw;
        flex-basis: auto;
        flex-wrap: wrap;

        &--image{
            background-image: url("/content/images/about/cover-redux.jpg");
            background-color: #cccccc;
            height: 150vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &--copy{
            margin: 0 0 0 2vw;
            position: absolute;
            top: 40vh;
            &>*{
                color: $white;
            }
        }
    }


    &__main, &__secondary{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        padding-inline-start: 0px;

        &--title, &--footer, a{
            color: $light;
        }
        &--text{
            color: $white;
        }
        &--footer{
            margin-top: 50px;
            font-size: 14px;
            font-style: italic;
        }
    }

    &__main{
        margin: 90px 0 0 0;

        &--h3{
            display: flex;
            align-items: center;
            justify-content: center;
            
            &>h3{
                @include no-margin;
                width: 78vw;
                padding: 0 2vw 0 2vw;
            }
        }

        &--copy, &--img{
            width: 35vw;
            margin: 0 2vw 0 2vw;
        }   

        &--img{
            height: auto;
            background-image: url("/content/images/stl/user 3.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &--copy{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &>*{
                margin: 20px 0 20px 0;
            }

        }

        &--title, &--text, a{
                margin: 20px 0 20px 0;
        }
        &--footer{
            position: relative;
            bottom: 0px;
        }
    }

    &__secondary {
        display: flex;
        margin: 60px 0px 0px 0px;

            &>div{
                width: 22vw;
                margin: 0px 2vw 4vw 2vw;

            }
        
    }
}

section{
    margin: 0 0 120px 0;
}
