.stl {
    &__body{
        justify-content: flex-start;;
    }
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__filters {
        display: flex;
        justify-content: flex-start;
        width: 80vw;

    
        &--tags{
            margin: 10px;
            font-family: $tag-font;
            font-size: 14px;
            border: 2px solid $dark;
            background-color: $light;
            z-index: 3;
            cursor: pointer;
            padding: 10px 20px 10px 20px;
        }
    }

    &-list{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 80vw;

        &__block{
            padding: 10px;
            margin-top: -70px;

            &--home{
                margin: 10px;
                padding: 0;
            }

            &--avatar{
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            &--img{
                width: 100%;
                &--home{
                    width: 235px;
                    height: 235px;
                    overflow: hidden;
                }
            }

            &--name, &--tags{
                padding: 4px;
                font-size: 14px;
            }
        
            &--name{
                font-family: $main-font;
            }
        
            &--tags{
                font-family: $tag-font;
            }

            &, &--home{


                // GRID


                @media all and (min-width: 600px)
                {
                    width: 50%;
                }
    
                @media all and (min-width: 768px)
                {
                    width: 33%;
                }
    
                @media all and (min-width: 992px)
                {
                    width: 25%;
                }
    
                @media all and (min-width: 1200px) {
                    width: 20%;
                }
            }
        }

        //STL-HOME

        &--1, &--2, &--3{
            position: relative;

        }
        &--1{
            right: 200px;
        }

        &--2{
            right: 700px;
        }

        &--3{
            right: 400px;
        }

        &--home{
            flex-wrap: nowrap;
        }
    }

    &-promotext{
        display:flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        width: 100%;
        margin: 20px auto;
        overflow: hidden;

        &--copy{
            @include no-margin;
            width: 100%;
            display:flex;
            flex-wrap: nowrap;
            animation: slide-left 20s linear infinite;
            @keyframes slide-left {
                from {
                    -webkit-transform: translateX(0);
                        transform: translateX(0);
                }
                to {
                    -webkit-transform: translateX(-300%);
                        transform: translateX(-300%);
                }
            }
        }
    }

}
.intro--text{
    margin: 150px 0px 10px;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    &>*{
        width: 80vw;
        margin: 15px 0px;
    }
}

.active{
    background-color: $dark;
    color: $light;
    display: block;
}

//MQUERY

@media all and (max-width: 1200px) {

}



@media all and (max-width: 992px)
{

}

@media all and (max-width: 768px)
{

}


@media all and (max-width: 600px)
{
    .stl{
        margin-bottom: 120px;
        &-paragraph{
            font-size: $fontbig;
            margin: 4vh 4vw;
        }
        &-list{

            &__block{
                height: 100%;
                &--img{
                    height: 180px;
                    width: 180px;
                }
            }
        }
        
    }
}

// HEART BUTTON


.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;

    //Placement
    position: relative;
    top: 80px;
    right: -60%;

    //transform: translate(-50%, -50%);
    
    &.is-active {
        transition-duration: 1s;
        background-position: -2800px 0;
    }
}
