.faqs{

    &__h1{
        @include no-margin;
        display: block;
        margin: 40vh 0 120px 20px;
        z-index: 2;

    }

    &__q{
        display: flex;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &--1, &--2, &--3, &--4{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 60px 0 60px 0;

            &--h5, &--p{
                margin: 0 2vw 0 2vw;
            }

            &--h5{
                width: 26vw;
            }

            &--p{
                width: 47vw;
            }
        }
    }

}