@mixin main-text {
    color: $dark;
    font-family: $main-font;
    font-weight: 400;
    line-height: 75%;
}

@mixin secondary-text {
    color: $dark;
    font-family: $secondary-font;
    font-weight: 400;
}

@mixin no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}