//-----> $TYPOGRAPHY

h1,h2,h3{
    @include main-text;
}
p,a
{
    @include secondary-text;
} 


h1{

    font-size: $fontbig;
}

h2, .intro__text--paragraph{
    font-size: $fontmedium;
}

.p-small{
    font-size: 20px;
}

.centered-text{
    text-align: center;
}
