.footer{
    @include flexbox;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__thanks{
        margin: 60px 0 240px 0;
    }

    &__logo{

        margin: 240px 0 60px 0;
    }

    &__bottom{
        @include flexbox;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 90%;
        height: 60px;
        margin-right: 4vw;
        margin-left: 4vw;


        &--line{
            width: 2px;
            height: 60px;
            background-color: $dark;
        }

        &--text{
            &>*, &>p>a{
                @include secondary-text;
                text-transform: none;
                text-decoration: none;
                padding: 1vw;
            }

        }  
    }


    &Link{
        padding: 1vw;
        cursor: pointer;

        &:hover{
        font-weight: 400;
        }
    }

}