header{
    flex:1;
    height: 500px;
    flex-basis: auto;
    flex-wrap: wrap;
}



.intro__text{
    position: absolute;
    width: 80vw;
    left: 20px;
    top: 40vh;
    z-index: 2;

    &>h1, p{
        @include no-margin;
    }

    &>p {
        position: relative;
        left: 20px;
    }
}


.hero{
    position: relative;
    margin-left: 60vw;
    top: 253px;
    display: block;
    width: 15vh;
    height: 25vh;
    z-index: 0;

}


