header{
    display: block;
    flex:1;
    height: 110vh;
    flex-basis: auto;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.intro__text{
    display: block;
    //position: absolute;
    width: 80vw;
    margin-left: 20px;
    margin-top: 20%;
    z-index: 2;

    &>h1, p{
        @include no-margin;
    }

    &>p {
        position: relative;
        left: 60px;
        top: 60px;
        width: 55vw;
    }
}

//@include parallax-init;

.hero{
    //@include parallax(.3);
    position: relative;
    margin-left: 60vw;
    top: -1200px;
    display: block;
    width: 47vw;
    z-index: -1;
    overflow: hidden;
    & > *{
        overflow: hidden;
        width: auto;
    }
}


.fl-header{
    position: relative;
    width: 1.5*$fontbig;
    top: -244px;
    left: 277px;
    z-index: -1;

}


